/* :root {
  --text-color: #757575;
  --title-color: #212121;
  --accent-color: #2196f3;
  --main-background-color: #ffffff;
  --background-secondary-color: #f5f4fa;
} */

/* .page-body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  color: var(--text-color);
  background-color: var(--main-background-color);
}

.list {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  margin: 0;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
} */

/* .container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
} */

/* .visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
} */

/* header */
/* .header {
  border-bottom: 1px solid #ececec;
}
.main-navigation {
  display: flex;
  align-items: center;
}

.navigation {
  display: flex;
}

.header-logo {
  display: block;
  padding-top: 24px;
  padding-bottom: 25px;
  margin-right: 93px;

  color: var(--accent-color);
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
  transform: translate(0px) scale(1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-logo > span {
  color: var(--title-color);
}

.header-logo:hover,
.header-logo:focus {
  color: var(--title-color);
  transform: translate(20px) scale(1.05);
}

.header-nav {
  display: flex;
}

.header-nav-item:not(:last-child) {
  margin-right: 50px;
}

.header-nav-link {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  position: relative;
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--title-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.header-nav-link.current {
  color: var(--accent-color);
  display: flex;
}

.header-nav-link.current::after {
  position: absolute;
  bottom: -1px;
  content: '';
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background: var(--accent-color);
}

.header-nav-link:hover,
.header-nav-link:focus {
  color: var(--accent-color);
}

.header-contacts {
  display: flex;
  margin-left: auto;
}

.header-contacts-item:not(:last-child) {
  margin-right: 50px;
}

.header-contacts-link {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-contacts-icon {
  margin-right: 10px;
  fill: currentColor;
}

.header-contacts-link:hover,
.header-contacts-link:focus {
  color: var(--accent-color);
} */

/* hero */
/* .hero {
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-color: #c4c4c4;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/hero-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
}

.hero-title {
  margin-bottom: 40px;

  color: var(--main-background-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
} */

/* .btn {
  display: inline-block;
  padding: 10px auto;
  min-width: 200px;
  min-height: 50px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: 1px solid transparent;
  border-radius: 4px;

  color: var(--main-background-color);
  background-color: var(--accent-color);
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn:hover,
.btn:focus {
  background-color: #188ce8;
} */

/* benefits */
/* .benefits {
  padding-top: 94px;
  padding-bottom: 94px;
}

.benefits-title {
  color: var(--title-color);
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.benefits-list {
  display: flex;
}

.benefits-list-item {
  display: flex;
  flex-direction: column;
  width: 270px;
}

.benefits-list-item:not(:last-child) {
  margin-right: 30px;
}

.benefits-icon-background {
  display: flex;
  width: 100%;
  height: 120px;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  border-radius: 4px;
  background-color: var(--background-secondary-color);
}

.benefits-title {
  margin-bottom: 10px;
}

.benefits-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
} */

/* works */
.works {
  padding-bottom: 94px;
}
.works-title {
  margin-bottom: 50px;

  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-color);
}

.works-list {
  display: flex;
  justify-content: center;
}

.work-list-item:not(:last-child) {
  margin-right: 30px;
}

.work-list-link {
  display: flex;
  transform: scale(1) rotate(0);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.work-list-link:hover {
  color: var(--accent-color);
  transform: scale(1.03) rotate(-3deg);
}

.works-thumb {
  position: relative;
  display: flex;
}

.works-thumb-text {
  position: absolute;
  bottom: 0;
  margin: 0 auto;
  width: 100%;
  padding-top: 27px;
  padding-bottom: 27px;
  background-color: rgba(47, 48, 58, 0.8);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-background-color);
}
/* team */
/* .team {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: var(--background-secondary-color);
}

.team-list {
  display: flex;
  justify-content: center;
}

.team-card {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: var(--main-background-color);
}

.team-card:not(:last-child) {
  margin-right: 30px;
}

.team-description {
  padding-top: 30px;
  padding-bottom: 30px;
}

.team-title {
  margin-bottom: 50px;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-color);
}

.name-title {
  margin-bottom: 10px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-color);
}

.team-text {
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}

.team-list-soc {
  display: flex;
  justify-content: center;
}

.team-soc-item {
  width: 44px;
  height: 44px;
  margin-right: 10px;
}

.team-soc-item:last-child {
  margin-right: 0;
}

.team-soc-link {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  color: #afb1b8;
  background-color: var(--main-background-color);
  border-radius: 50%;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-soc-icon {
  fill: currentColor;
}

.team-soc-link:hover,
.team-soc-link:focus {
  color: var(--main-background-color);
  background-color: var(--accent-color);
} */

/* ----------CLIENTS---------------- */
/* .clients {
  padding-top: 94px;
  padding-bottom: 94px;
}
.clients-title {
  margin-bottom: 50px;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-color);
}

.clients-list {
  display: flex;
  justify-content: center;
}

.clients-list-item {
  margin-right: 30px;
  width: 170px;
  height: 92px;
}

.clients-list-item:last-child {
  margin-right: 0;
}

.clients-link {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  color: #afb1b8;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-icon {
  fill: currentColor;
}

.clients-link:hover,
.clients-link:focus {
  border: 1px solid var(--accent-color);
  color: var(--accent-color);
} */

/* footer */
/* .footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2f303a;
}

.footer-wrap {
  display: flex;
  align-items: baseline;
}

.footer-logo {
  display: block;
  margin-bottom: 20px;

  color: var(--accent-color);
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
  transform: translate(0) scale(1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-logo > span {
  color: var(--main-background-color);
}

.footer-logo:hover,
.footer-logo:focus {
  color: var(--title-color);
  transform: translate(20px) scale(1.05);
}

.footer-link {
  display: flex;
  font-size: 14px;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--main-background-color);
  text-decoration: none;
  transform: translateY(0) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-link:hover,
.footer-link:focus {
  color: var(--accent-color);
  transform: translateY(-2px) scale(1.05);
}

.footer-item:not(:last-child) {
  margin-bottom: 9px;
}

.footer-link span {
  color: rgba(255, 255, 255, 0.6);
}

.join-soc {
  margin-left: 70px;
}
.join-title {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-background-color);
}

.join-list {
  display: flex;
  justify-content: center;
}

.join-item {
  margin-right: 10px;
  width: 44px;
  height: 44px;
}

.join-item:last-child {
  margin-right: 0;
}

.join-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  color: var(--main-background-color);
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.join-icon {
  fill: currentColor;
}

.join-link:hover,
.join-link:focus {
  background-color: var(--accent-color);
}

.subscribe {
  margin-left: auto;
}

.subscribe-title {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-background-color);
}

.subscribe-wrap {
  display: flex;
  align-items: center;
}

.email-field {
  padding-left: 16px;
  margin-right: 12px;
  width: 358px;
  height: 50px;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgb(255, 255, 255);
}
.email-field::placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgb(255, 255, 255);
}

.email-field:focus {
  outline: 1px solid rgba(255, 255, 255, 0.3);
}

.subscribe-btn {
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon-send {
  margin-left: 10px;
} */

/* portfolio.html */
.examples {
  padding-top: 94px;
  padding-bottom: 94px;
}

.filter-list {
  display: flex;

  padding-bottom: 50px;
  justify-content: center;
}

.filter-item:not(:last-child) {
  margin-right: 8px;
}

.filter-btn {
  min-width: 73px;
  padding: 6px 22px;
  border: 1px solid transparent;
  border-radius: 4px;
  color: var(--title-color);
  background-color: var(--background-secondary-color);
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  letter-spacing: 0.03em;
  cursor: pointer;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filter-btn:hover,
.filter-btn:focus {
  color: var(--main-background-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.examples-list {
  display: flex;
  flex-wrap: wrap;
  /* justify-content: center; */
  margin-left: -30px;
  margin-top: -30px;
}
.examples-item {
  margin-left: 30px;
  margin-top: 30px;
  flex-basis: calc(100% / 3-30px);
  outline: 1px solid #eeeeee;
}

.examples-item:hover .examples-thumb-text {
  transform: translateY(0);
}

.examples-thumb {
  position: relative;
  display: flex;
  overflow: hidden;
}

.examples-thumb-text {
  position: absolute;
  transform: translateY(101%);
  overflow: auto;
  transition: translateY, 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  background-color: rgba(33, 150, 243, 0.9);

  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--main-background-color);
}

.examples-thumb-text::-webkit-scrollbar {
  width: 12px;
}

.examples-thumb-text::-webkit-scrollbar-track {
  background: var(--background-secondary-color);
}

.examples-thumb-text::-webkit-scrollbar-thumb {
  background-color: var(--accent-color);
  border-radius: 20px;
  border: 3px solid var(--background-secondary-color);
}

.card-description {
  padding: 20px 24px;
}

.examples-link {
  display: block;
  /* margin: 0; */
  text-decoration: none;
}

.examples-link:hover,
.examples-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.examples-title {
  margin-bottom: 4px;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-color);
}

.examples-text {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--text-color);
}

.backdrop {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: rgba(0, 0, 0, 0.2);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) rotate(360deg) scale(0);
}

.modal {
  padding: 40px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 528px;
  min-height: 581px;
  background-color: var(--main-background-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.modal-close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  cursor: pointer;
  border-radius: 50%;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.modal-text {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--title-color);
}

.modal-field + .modal-field {
  margin-top: 10px;
}

.input-wrap {
  position: relative;
}

.modal-label {
  display: block;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
}

.modal-input {
  /* background-origin: border-box; */
  padding-left: 42px;
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  outline: transparent;
  border-radius: 4px;
  background-color: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    outline 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus,
.comment-textarea:focus {
  outline: 1px solid var(--accent-color);
  border-color: var(--accent-color);
}

.modal-input:focus + .input-icon {
  fill: var(--accent-color);
}

.input-icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  fill: var(--title-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.comment-textarea {
  resize: none;
  width: 100%;
  height: 120px;
  padding: 12px 16px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  background-color: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    outline 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.comment-textarea::placeholder {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;

  color: rgba(117, 117, 117, 0.5);
}

.checkbox {
  margin-top: 20px;
}

.policy-label {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}

.policy-label span {
  margin-right: 7px;
  width: 16px;
  height: 15px;
  border: 1px solid var(--title-color);
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.policy-input:checked + .policy-label span {
  background-color: var(--accent-color);
  border: none;
}

.policy-icon {
  display: block;
  justify-content: center;
  align-items: center;
}

.policy-link {
  text-decoration: underline;
  cursor: pointer;
  color: var(--accent-color);
}

.modal-btn {
  margin-top: 30px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.no-scroll {
  overflow: hidden;
}
